<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시 글 목록</title>
</head>

<body th:align="center">
	<h1>게시글 목록</h1>
	<h3><font color="red" th:text="${session['member'].name}"></font>님 게시판 입장 환영하옵니다~~</h3>
	<a th:href="@{/logout}">LOG_OUT</a>
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
		<tr>
			<th bgcolor="Lavender" width="100">번호</th>
			<th bgcolor="Lavender" width="288">제목</th>
			<th bgcolor="Lavender" width="150">작성자</th>
			<th bgcolor="Lavender" width="150">등록일</th>
			<th bgcolor="Lavender" width="100">조회수</th>
		</tr>
		<tr th:each="board, state : ${boardList}">
			<td th:text="${state.count}">
			<td><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
			<td th:text="${board.writer }">
			<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}">
			<td th:text="${board.cnt }">
		</tr>
	</table>
	<br>
	<a th:href="@{/insertBoard}">새글 등록</a>
</body>

</html>