<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body th:align="center">
	<form method="post" action="/signUp">
    
        <h1>회원가입</h1>
        <tr>
				<td bgcolor="Lavender" th:text="아이디"></td>
            <input type="text" name="userId" placeholder="사용자 아이디">
        </tr>
       <tr>
				<td bgcolor="Lavender" th:text="이름"></td>
            <input type="text" name="userName" placeholder="사용자 이름">
        </tr>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password"" name="userPw" placeholder="사용자 비밀번호">
        </tr>
        <input type="submit" value="가입완료">가입 완료</button>

</form>
</body>

</html>